body {
  font-family: Arial, Verdana, sans-serif
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  padding: 40px 15px;
  margin: 0 auto;
}

.game {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
  background-color: #154719;
  color: transparent;
  font-size: 42px;
  font-weight: 700;
  border-radius: 10px;
  transition: background-color .3s, color .3s, transform .3s;
  cursor: pointer;
}

.card.open {
  background-color: #abcfae;
  color: black;
}

.card.success {
  background-color: #1714df;
  color: white;
  transform: scale(0.95);
}

.restart-btn{
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 5px 15px;
  cursor: pointer;

}
.hidden{
  display: none;
}
